<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900">Nuestro equipo</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Un par de locos que intentan programar algo y algunas veces sale bien y otras veces no...</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4">
      <div>
        <h3 class="border-l border-indigo-600 pl-6 font-semibold text-gray-900">Ciudad del Este</h3>
        <address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
          <p>Las Hortencias</p>
          <p>Ciudad del Este, Alto Parana 7200</p>
        </address>
      </div>
      <div>
        <h3 class="border-l border-indigo-600 pl-6 font-semibold text-gray-900">Hernandarias</h3>
        <address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
          <p>Donde el diablo perdio el poncho</p>
          <p>Quien sabe, Alto Parana 12345</p>
        </address>
      </div>
      <div>
        <h3 class="border-l border-indigo-600 pl-6 font-semibold text-gray-900">Toronto</h3>
        <address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
          <p>7363 Cynthia Pass</p>
          <p>Toronto, ON N3Y 4H8</p>
        </address>
      </div>
      <div>
        <h3 class="border-l border-indigo-600 pl-6 font-semibold text-gray-900">London</h3>
        <address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
          <p>114 Cobble Lane</p>
          <p>London N1 2EF</p>
        </address>
      </div>
    </div>
  </div>
</div>