{% extends 'base.html' %}

{% block content %}

  <body>
    {% if current_user.is_authenticated%}
    <div x-data="{show2: true}" x-on:click.away="show2 = true">
      <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
        <div x-show="!show2" class="lg:hidden">
          <span class="px-4 py-2" aria-hidden="true">&larr;</span>
          <button x-on:click="show2 = !show2" class="py-2 font-semibold leading-6 text-oscurito"> Menu </button>
        </div>
        <div x-show="show2" class="fixed inset-0 bg-gray-900/80"></div>
        <div x-show="show2" class="fixed inset-0 flex">
          <div class="relative mr-16 flex w-full max-w-xs flex-1">

            <!-- Sidebar companet close button. Mobile -->
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
              <button x-on:click="show2 = !show2" type="button" class="-m-2.5 p-2.5">
                <span class="sr-only">Close sidebar</span>
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <!-- Sidebar component. Mobile-->
            <div x-show="show2" class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
              <div class="flex h-16 shrink-0 items-center">
                <img class="h-8 w-auto" src="static/LogoPadelHack.svg" alt="Your Company">
                <a href="/" class="text-xl px-2 leading-6 text-blue font-bold hover:text-oscurito">PadelHack</a>
              </div>
              <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                  <li>
                    <ul role="list" class="-mx-2 space-y-1">
                      <li>
                        <a href="#" class="bg-gray-50 text-azul group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          <svg class="h-6 w-6 shrink-0 text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                          </svg>
                          Mi perfil
                        </a>
                      </li>
                      {% if current_user.rol == 'Admin'%}
                      <li>
                        <a href="{{url_for('admins')}}" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                          </svg>
                          Team
                        </a>
                      </li>
                      {% endif %}
                      <li>
                        <a href="#" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                          </svg>
                          Reservas
                        </a>
                      </li>
                      <li>
                        <a href="#" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                          </svg>
                          Torneos
                        </a>
                      </li>
                      {% if current_user.rol == 'Admin' or current_user.rol == 'Funcionario'%}
                      <li>
                        <a href="{{url_for('agregar_tareas')}}" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                          </svg>
                          Tareas
                        </a>
                      </li>
                      {% endif %}
                      <li>
                        <a href="{{url_for('logout')}}" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                          </svg>
                          Cerrar sesion
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Static sidebar for desktop -->
      <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex">
        <!-- Sidebar component -->
        <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
          <div class="flex h-16 shrink-0 items-center">
            <img class="h-8 w-auto" src="static/LogoPadelHack.svg" alt="PadelHack">
            <a href="/" class="text-xl px-2 leading-6 text-blue font-bold hover:text-gray-900">PadelHack</a>
          </div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-7">
              <li>
                <ul role="list" class="-mx-2 space-y-1">
                  <li>
                    
                    <a href="#" class="bg-gray-50 text-azul group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <svg class="h-6 w-6 shrink-0 text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>
                      Mi perfil
                    </a>
                  </li>
                  {% if current_user.rol == 'Admin' %}
                  <li>
                    <a href="{{url_for('admins')}}" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                      </svg>
                      Team
                    </a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="#" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                      </svg>
                      Reservas
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                      </svg>
                      Torneos
                    </a>
                  </li>
                  {% if current_user.rol == 'Admin' or current_user.rol == 'Funcionario'%}
                  <li>
                    <a href="{{url_for('agregar_tareas')}}" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                      </svg>
                      Tareas
                    </a>
                  </li>
                  {% endif %}

                  {% if current_user.is_authenticated%}
                  <li>
                    <a href="{{url_for('logout')}}" class="text-gray-700 hover:text-azul hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-azul" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                      </svg>
                      Cerrar sesion
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </li>
              <li class="-mx-6 mt-auto">
                <a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50">
                  <img class="h-8 w-8 rounded-full bg-gray-50" src="static/noname.png" alt="">
                  <span class="sr-only">Mi perfil</span>
                  <span aria-hidden="true">{{current_user.nombre}}</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <main class="lg:pl-72">
        <div class="xl:pr-20">
          <div class="px-6 py-10 sm:px-6 lg:px-8 lg:py-6">
              <!-- Main area -->
            <div class="overflow-hidden bg-white shadow sm:rounded-lg">
              <div class="px-4 py-5 sm:p-6">
                <div class="h-full">
                  <div class="border-b-2 block md:flex">
                    <!-- Cardboard del perfil -->
                    <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
                      <div class="flex justify-between">
                        <span class="text-xl font-semibold block">Perfil de {{current_user.nombre}}</span>
                        <a href="{{url_for('update', id=current_user.id)}}" class="-mt-2 text-md font-bold text-white bg-gray-700 rounded-full px-5 py-2 hover:bg-gray-800">Edit</a>
                      </div>
                
                      <span class="text-gray-600">This information is secret so be careful</span>
                      <div class="w-full p-8 mx-2 flex justify-center">
                        <img id="showImage" class="max-w-xs w-32 items-center border" src="static/noname.png" alt="">                          
                        </div>
                    </div>
                    
                    <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
                      <div class="rounded  shadow p-6">
                        <div class="pb-6">
                          <label for="name" class="font-semibold text-gray-700 block pb-1">Nombre</label>
                          <div class="flex">
                            <input disabled id="username" class="border-1  rounded-r px-4 py-2 w-full" type="text" value="{{current_user.nombre}}" />
                          </div>
                        </div>
                        <div class="pb-4">
                          <label for="about" class="font-semibold text-gray-700 block pb-1">Email</label>
                          <input disabled id="email" class="border-1  rounded-r px-4 py-2 w-full" type="email" value="{{current_user.email}}" />
                          <span class="text-gray-600 pt-4 block opacity-70">Personal login information of your account</span>
                        </div>
                      </div>
                    </div>
                
                  </div>
                
                </div>
              </div>
            </div>

            <!-- divisor visual  -->
            <div class="relative">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex py-2 justify-center">
                <span class="bg-casiwhite px-2 text-sm text-gray-500"> Novedades </span>
              </div>
            </div>

              <!-- Tareas con checkbox -->
              {% if current_user.rol == 'Admin' or current_user.rol == 'Funcionario'%}
              <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
                <div class="px-4 py-5 sm:px-6">
                    <p> Tareas y Mantenimientos </p>
                </div>
                <div class="px-4 py-auto sm:p-6">
                    <fieldset>
                        <legend class="sr-only">Notifications</legend>
                        <div class="space-y-5">
                            {% for tarea in tareas %}
                            <div class="flex items-start">
                                <div class="flex items-center h-6">
                                    <input id="checkbox-{{ tarea.id }}" aria-describedby="comments-description" name="comments" type="checkbox" {% if tarea.completada %}checked="checked"{% endif %} class="h-4 w-4 rounded border-gray-300 text-azul focus:ring-azul">
                                </div>
                                <div class="ml-3 text-sm leading-6">
                                    <label for="checkbox-{{ tarea.id }}" class="font-medium text-gray-900">{{ tarea.nombre }}</label>
                                    <p id="comments-description" class="text-gray-500">{{ tarea.descripcion }}</p>
                                </div>
                                <div class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                    <a href="{{ url_for('marcar_completada', id=tarea.id) }}" class="text-azul hover:text-indigo-900">Completada</a>
                                </div>

                                <div class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                  <a href="{{ url_for('eliminar_tarea', id=tarea.id) }}" class="text-azul hover:text-indigo-900">Eliminar</a>
                              </div>
                            </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
              </div>
              {% endif %}
          </div>
        </div>
      </main>
    </div>
      {% endif %}
</body>

{% endblock %}
