{% extends 'base.html' %}

{% block content %}
<body>
  <div class="block lg:flex lg:flex-1">
    <span class="px-4 py-2" aria-hidden="true">&larr;</span>
    <a href="/" class="py-2 font-semibold leading-6 text-gray-900"> Volver al Home</a>
  </div>
  <div class="flex min-h-full flex-col justify-center px-6 py-2 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img href="/" class="mx-auto h-24 w-auto" src="static/LogoPadelHack.svg" alt="PadelHack">
      <div class="flex justify-center">
      <a href="#" class="mt-2 text-5xl font-mplus leading-6 tracking-tight text-celeste">PadelHack</a>
      </div>
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Iniciar sesion</h2>
    </div>

    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="{{url_for('login')}}" method="POST">
        {{ formulario.hidden_tag() }}
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Nombre de usuario </label>
          <div class="mt-2">
            <input id="user_name" name="user_name" type="user_name" autocomplete="user_name" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 px-2 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
            <div class="text-sm">
              <a href="#" class="font-semibold text-azuloutline-azul hover:text-azuloutline-azul">Olvidaste tu contraseña?</a>
            </div>
          </div>
          <div class="mt-2">
            <input id="contraseña" name="contraseña" type="password" autocomplete="" required class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-azul px-3 py-1.5 text-sm font-semibold leading-6 text-casiwhite shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-azul">Accede a tu cuenta</button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        No sos miembro?
        <a href="/register" class="font-semibold leading-6 text-azul hover:text-oscurito"> Registrate ahora gratis! </a>
      </p>
    </div>
  </div>
  
</body>
{% endblock %}